<div class="introduce1">
   <h2 class="explaine1">ネット販売だからこそ<br>
   最高品質をあなたのもとに</h2>
</div>

<div class="hoge clearfix">
  <div class="introduce2">
    <div class="explaine2" ><%= image_tag 'introduce2.jpg' %>
      <p><%="ご注文の商品は翌日の収穫直後に配送"%></p>
    </div>
  </div>
  <div class="introduce3">
    <div class="explaine3" >
      <%= image_tag 'introduce3.jpg' %>
      <p>弊社スタッフが出品農家を独自の基準で審査。<br>厳選された農家のみが出品しているので安全・安心です</p>
    </div>
  </div>

  <div class="introduce4">
    <div class="explaine4" >
      <%= image_tag 'introduce4.jpg' %>
      <p><%="各商品ページには４枚以上の写真が乗っており、他にはないレビューシステムを導入しております。味の詳細や特徴が一目でわかります"%></p>
    </div>
  </div>
</div>

<div class="contents_row">
<div class="pickup">ピックアップ商品</div>

</div>
