<div class="introduce1">
   <h2 class="explaine1">ネット販売だからこそ<br>
   最高品質をあなたのもとに</h2>
</div>

<div class="hoge clearfix">
  <div class="introduce2">
    <div class="explaine2" ><%= image_tag 'introduce2.jpg' %>
      <p><%="ご注文の商品は翌日の収穫直後に配送"%></p>
    </div>
  </div>
  <div class="introduce3">
    <div class="explaine3" >
      <%= image_tag 'introduce3.jpg' %>
      <p>弊社スタッフが出品農家を独自の基準で審査。<br>厳選された農家のみが出品しているので安全・安心です</p>
    </div>
  </div>

  <div class="introduce4">
    <div class="explaine4" >
      <%= image_tag 'introduce4.jpg' %>
      <p><%="各商品ページには４枚以上の写真が乗っており、他にはないレビューシステムを導入しております。味の詳細や特徴が一目でわかります"%></p>
    </div>
  </div>
</div>

<div class="contents_row">
<div class="pickup">ピックアップ商品</div>
<% @vegetables.each do |vegetable| %>
                  <div class="col">
                    <a href="/vegetables/<%= vegetable.id %>"></a>
                      <h3 class="text-xsmall text-overflow" title="<vegetable.name>"><a href="/vegetables/<%= vegetable.id %>">
                      <%= vegetable.name%>
                      </h3>
                      <p class="text-small">
                        <%if vegetable.reviews.present?%>
                        <!-- <span class="rating-star">

                        <%%> -->
                       <span class="rate rate-<%= vegetable.reviews.general_rate %>"></span>
                        <% end %>
                      </p>




                  <% vegetable.vegetable_images.each do |image| %>
         <% if image.status == 0 %>
           <div class="my_vegetable_list">
            <%= image_tag image.image, class: 'user_vegetables' %>
           </div>
         <% end %>
       <% end %>
   <% end %>
 </div>

 <div class="new_vegetable">新着商品</div>
</div>
